Source: vizigrep
Section: python
Priority: extra
Maintainer: Jason J. Herne
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.8.0
Homepage: https://github.com/hernejj/vizigrep

Package: vizigrep
Architecture: all
Depends: python (>= 2.6)
Description: Graphical file contents search tool using regular expressions.
